body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #fffafa;
    color: #333333;
}

body.modo-escuro {
    background-color: #212121;
    color: #333333;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon {
    background-color: #eee8aa;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
    background-color: #fafad2;
}

.modo-escuro .cartao-pokemon {
    background-color: #f0e68c;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 15px;
}

main .cartao-pokemon .gif {
    width: 80px;
    height: 80px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
}

.grama {
    background-color: #228b22;
}

.veneno {
    background-color: #8b008b;
}

.fogo {
    background-color: #ff4500;
}

.agua {
    background-color: #4169e1;
}

.inseto {
    background-color: #7fff00;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 12px;
    padding-right: 10px;
}